.multiselect {

  &__placeholder {
    color:grey;
  }
  &__tags {
    border-radius: 5px;
    border: 1px solid rgb(133, 133, 133);
    padding: 0.25rem 0.5rem;
  }
  &__input {
    border: none;
    &:focus {
      outline: none;
    }
  }
  &__content {
    list-style: none;
    width: 100%;
    padding: 0;
    &-wrapper {
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0;
      }
    }

  }
  &__element {
    padding: 5px;
    border: 1px solid darkgrey;
    border-top: none;
    margin: 0;
    color: #666666;
  }
}